.menu {
  background-color: black;
  font-size: 30px;
  font-family: sans-serif;
  font-weight: 400;
  color: white;
  display: flex;
  justify-content: space-around;
}

body {
  background-color: whitesmoke;
}

.grid {
  display: flex;
  flex-wrap: wrap;
  font-family: sans-serif; 
}

.grid img {
  border: 2px solid black;
  border-radius: 50px;
}


.languages{
  border-radius: 20px;
  border: black;
  background-color:white;
  margin:20px;
  width: 220px;
  font-family: italics;
}
